Strongly Recommend to Read and Understand the followings <br>
Python tutorials, Numpy tutorial, and Pandas tutorial <br>
from https://www.w3schools.com/python/default.asp <br>

Part 1. <br>
Type & Variable
<br>
<br>
Basic Types
*   Bool
*   Integer
*   Float
*   String

Declaration & Assigning value to a variable
*   In Python, we can assign value to a variable using '='
*   Like, var = 1

In this class, we will not cover what "object" is.
Whenever I mention "object", just think it as something in Python.

In [ ]:
# Declaring variables

# Bool
var_bool = True

# Int
var_int = 10

# Float
var_float = 2.58

# String
# To declare a string, both '' and "" are available in Python
# But it would be great to use '' for character and "" for string
var_char = 'A'
var_str = "Hello World!"

# We can print a varaible using print() function
# To pring multiple varaibles at once use comma
# To change the line, we can use empty print() or \n
print(var_bool)
print(var_int)
print()
print(var_float)
print(var_str)
print("A\nB\nC")
print(var_bool, var_int, var_float, var_str)

In [ ]:
# If we re-allocate a value into a variable, current value inside of the variable disappers.
var = 10
print(var)
var = 20
print(var)
print()

# Declaration of multiple variables at once is also possible
var1, var2, var3 = 1,2,3
print(var1, var2, var3)
print()

# We can swap two varaibles easily
var1 = 10
var2 = 20
print(var1, var2)
var1, var2 = var2, var1
print(var1, var2)

In [ ]:
# We can check type of a variable using type() function
print(type(var_int))

In [ ]:
# With functions bool(), int(), float(), and str()
# We can change the type of a variable
var = 2.58
print(var, type(var))
var = int(var)
print(var, type(var))
var = str(var)
print(var, type(var))

In [ ]:
# f-string
# There is a special format to represent a string in Python called "f-string"
# It is a convenient way to handle string
a = 10
b = 12.5
c = "22.5"
var_fstring = f"{a} plus {b} is {c}"
print(var_fstring, type(var_fstring))

Part 1. <br>
Data Structure
<br>
<br>
*   Tuple
*   List
*   Dictionary

In [ ]:
# tuple
# Declare a tuple with ()
var_tuple = (1,2,3)
print(var_tuple, type(var_tuple))

# Indexing tuple
# Notice that the index number starts with 0
print(var_tuple[0])
print(var_tuple[1])
print(var_tuple[2])

In [ ]:
# List
# Declare a list with []
var_list = [1,2,3]
print(var_list, type(var_list))

# Indexing list
print(var_list[0])
print(var_list[1])
print(var_list[2])

In [ ]:
# Tuple VS. List
# tuple is immutable, while list is mutable
# mutable means that we can add, delect, and change the value of list

var_list = [1,2,3]
print(var_list)
var_list[0] = -1 # We are replaceing 0th element of a list to -1
print(var_list)

In [ ]:
# Tuple is immutalbe
var_tuple = (1,2,3)
var_tuple[0] = 10

In [ ]:
# List and its methods
# Think "method" as a function related with an object
# We can call method as object.method()

# Let's start with the methods in list
var_list = [] # This is an empty list
print(var_list)
var_list.append(1) # To append an element we can use .append()
print(var_list)
var_list.append(2)
var_list.append(3)
print()

# .pop() method
print(var_list)
print(var_list.pop()) # Pop method pops an element which located in right end
print(var_list) # Poped element is removed from the list
print()

# .remove(x) method removes element x if x is in the list
# If x is not in the list, it will raise error
var_list.remove(2)
print(var_list)

In [ ]:
# Dictionary
# Dictionary is a data strucutre with key and value
# Declare a dictionary with {}

var_dict = {} # Here, we create an empty dictionary
print(var_dict)
var_dict["my_key"] = 10000 # I save a value of 10000 with key "my_key"
print(var_dict)
print()

# We can get the value only using the key
print(var_dict["my_key"])
print()

# Any type of data can be key and value of a dictionary
var_dict[123] = "Hi"
var_dict[(0,1,2)] = [0,1,2]
var_dict["dict"] = {0:1, 1:2} # Dictionary also can be a value of dictionary!
print(var_dict)
print()

# Replace is also possible
print(var_dict["dict"])
var_dict["dict"] = {1:100, 2:200}
print(var_dict["dict"])
print()

# To remove a key-value, use del() function
del(var_dict["dict"])
print(var_dict)

In [ ]:
# Methods of dictionary
var_dict = {1:10, 2:20, 3:30}

# .keys() returns dictionary keys
print(var_dict.keys())
print()
# .values() returns dictionary values
print(var_dict.values())
print()
# .items() returns (key,value) as tuple format
print(var_dict.items())

Conditional Statement
<br>
*   if, elif, else

In [ ]:
# if statement is used to check condition
var = 10
if var == 10:
    print(var)

var = 20
if var == 10:
    print(var)

In [ ]:
# If the if~: condition is not met
# elif (else if) condition is checked


var = 10
if var == 20:
    print("this is if", var)
elif var == 10:
    print("this is elif", var)

In [ ]:
# if there exists met condition in front
# following condition(s) are not checked

def is_equal(x, y):
    if x == y:
        print("equal")
        return True

var = 10
if is_equal(var, 10):
    print("if condition is met")
elif is_equal(var, 10):
    print("elif condition is met")

In [ ]:
# If no condition is met else ~ code will be executed

var = 10
if var == 1:
    print("this is if", var)
elif var == 2:
    print("this is elif", var)
else:
    print("this is else", var)

Loop
<br>
* For Loop
* While Loop
* pass, break, continue

In [ ]:
# for loop
# for ~ in : iterates along iterable object

# it repeats 'n' times, 'n' means the length of the iterable_object
# For x in iterable_object:
#   Do ~ ~ ~

for i in [1,2,3]: # List is iterable
    print(i)
print()
for i in (1,2,3): # Tuple is iterable
    print(i)

In [ ]:
# len() function is used to check the length of a variable
print(len([1,2,3]))
print(len("Hello"))

In [ ]:
for i in "Hello":
    print(i)

In [ ]:
# For Loop with Conditional statement

for i in [1,2,3,4]:
    if i > 2:
        print(i)

In [ ]:
# pass
# pass just skips the 'pass' line
for i in [1,2,3,4,5]:
    if i == 1:
        pass
    elif i == 2:
        print(i)
    else:
        print(f"{i} is larger than 2")
print("done")

In [ ]:
# continue
# continue jumps to the next iteration
for i in [1,2,3,4,5]:
    if i == 1:
        continue
    elif i == 2:
        print(i)
    else:
        print(f"{i} is larger than 2")
print("done")

In [ ]:
# break
# break escapes from the current iteration
for i in [1,2,3,4,5]:
    if i == 1:
        break
    elif i == 2:
        print(i)
    else:
        print(f"{i} is larger than 2")
print("done")

In [ ]:
# while
# while (condition):
#   do ~~~

cnt = 0

while cnt < 5:
    print(cnt)
    cnt += 1

In [ ]:
# You can escape from the while loop using 'break'

cnt = 0

while True:
    print(cnt)
    cnt += 1
    if cnt == 5:
        break

In [ ]:
# Ways to use for loop better
# range() function

res = []
for i in range(10):
    res.append(i)
print(res)
print()
res = []
for i in range(0, 11, 2):
    res.append(i)
print(res)

In [ ]:
# with enumerate() function

for i, val in enumerate(['H','e','l','l','o']):
    print(i, val)

In [ ]:
# with zip() function

for val1, val2 in zip(['a','b','c','d'], [1,2,3,4]):
    print(f"{val1}{val2}")

In [ ]:
# with len() function

for i in range(len([10,20,30,40])):
    print(i)

In [ ]:
# with dictionary

var_dict = {"key1":123, "key2":321, "key3":"hi"}
for key, value in var_dict.items():
    print(key, value)

In [ ]:
# Nested loops

for i in range(1, 10):
    var_list = []
    for j in range(1, 10):
        var_list.append(i*j)
    print(i, var_list)

In [ ]:
### Mini Project ###

# Implementing Sieve of Eratosthenes
# Refer https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes
# Find all primes between 1 ~ 10000
# Consider 1 as not a prime.

# You have to create two list variables
# one to contain all the prime numbers
# and the other to contain all numbers that are not prime number